LLM_MODEL_TYPE="ollama"
USER_AGENT="KGraph"
APP_ENV="development"  # or "production"
TEMPERATURE=0.5

QDRANT_URL="http://localhost:6333"
REDIS_URL="redis://localhost:6379"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=10

NEO4J_URL="neo4j://localhost:7687"
COLLECTION_NAME="agent_ollama_demo"
